@font-face {
  font-family: boldYear;
  src: url(https://github.com/adriwicked/html5-tetris/blob/master/css/fonts/bold_year/boldyear.otf?raw=true);
}

#canvas {  
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}